// SCSS Mixins File

// Reusable Mixin for Text Styling
@mixin text-style($font-family, $font-size, $color, $line-height: normal) {
  font-family: $font-family;
  font-size: $font-size;
  color: $color;
  line-height: $line-height;
}

// Reusable Mixin for Headings
@mixin heading-style($font-size, $color, $border-top: none) {
  font-family: $font-heading;
  font-size: $font-size;
  color: $color;
  border-top: $border-top;
  margin-top: 20px;
}

// Reusable Mixin for Borders
@mixin bordered($thickness, $color) {
  border: $thickness solid $color;
}