// SCSS Variables File

// Colors
$title-color: #00285f;  // Dark Blue
$heading1-color: #00285f;  // Dark Blue
$heading2-color: #000000;  // Black
$heading3-color: #5F3700;  // Dark Earth Brown
$text-color: #000000;  // Black
$accent-color: #003366;  // Dark Blue
$header-footer-color: #AAAAAA;  // Light Gray

// Fonts
$font-body: 'Source Sans Pro', sans-serif;
$font-heading: 'Acumin Pro Condensed', sans-serif;
$font-title: 'Acumin Pro SemiCondensed Bold', sans-serif;

// Spacing
$base-margin: 1in;
$line-height: 1.5;
