// Word Documents SCSS File

// Override Styles for Word Documents

// Page Setup
.word-document {
  @include text-style($font-body, 10pt, $text-color, $line-height);
  margin: $base-margin;
}

// Headings
.word-document h1 {
  @include heading-style(18pt, $heading1-color, 1pt solid $heading1-color);
}

.word-document h2 {
  @include heading-style(14pt, $heading2-color);
}

.word-document h3 {
  @include heading-style(12pt, $heading3-color);
}

// Headers and Footers
.word-document header {
  @include text-style($font-heading, 8pt, $header-footer-color);
  text-align: left;
}

.word-document footer {
  @include text-style($font-body, 8pt, $header-footer-color);
  text-align: right;
}

// Figure Captions
.word-document .fig-caption {
  @include text-style($font-body, 9pt, $text-color);
  font-style: italic;
}

// Additional Word Document-specific styles can be added as needed.
